<div>
  <form action="/links" method="post">
    <input type="text" name="title" value="Title">
    <input type="text" name="url" value="URL">
    <input type="text" name="tag" value="tag">
    <input type="submit" value="Create link">

  </form>
</div>
